<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<form>
	<fields 
		name="params" 
		addfieldpath="/modules/mod_janews_featured/elements">
		<fieldset 
			name="basic">
			<field 
				name="group1" 
				type="japaramhelper2" 
				function="@group" level="3">
					<option for="bigshowimage" value="1" hideRow="true">bigimg_w, bigimg_h</option>
					<option for="smallshowimage" value="1" hideRow="true">smallimg_w, smallimg_h</option>
			</field>
			
			<field 
				name="themesettings" 
				type="japaramhelper" 
				default="" 
				level="2"
				function="@title" 
				label="THEME_SETTINGS" 
				description="THEME_SETTINGS"/>
				
			<field 
				name="themes" 
				type="themes"
				default="" 
				label="THEME_SELECTION" 
				description="THEME_SELECTION_DESC"/>
			
			<field 
				name="displaysettings" 
				type="japaramhelper" 
				default="" 
				level="2"
				function="@title" 
				label="DISPLAY_SETTINGS" 
				description="DISPLAY_SETTINGS"/>
			
			<field 
				name="numberofheadlinenews" 
				type="text" 
				default="10"
				class="validate-numeric"
				label="NUMBER_OF_ARTICLES" 
				description="NUMBER_OF_ARTICLES_DESC" />
			<field 
				name="bigitems" 
				type="text" 
				default="1" 
				class="validate-numeric"
				label="NUMBER_OF_FEATURED_ARTICLES" 
				description="NUMBER_OF_FEATURED_ARTICLES_DESC" />
			<field 
				name="bigmaxchars" 
				type="text" 
				default="0"
				class="validate-numeric"
				label="MAX_CHARS_OF_FEATURED_ARTICLES" 
				description="MAX_CHARS_OF_FEATURED_ARTICLES_DESC" />
			<field 
				name="smallmaxchars" 
				type="text" 
				default="0" 
				class="validate-numeric"
				label="MAX_CHARS_OF_NORMAL_FRONTPAGE_ARTCILE" 
				description="MAX_CHARS_OF_NORMAL_FRONTPAGE_ARTCILE_DESC" />
			<field 
				name="showhlreadmore" 
				type="radio" 
				default="1" 
				label="SHOW_HEADLINE_READMORE" 
				description="SHOW_HEADLINE_READMORE_DESC">
					<option value="1">show</option>
					<option value="0">hide</option>
			</field>
			<field 
				name="showtooltip" 
				type="radio" 
				default="0" 
				label="ENABLE_TOOLTIP" 
				description="ENABLE_TOOLTIP_DESC">
					<option value="1">show</option>
					<option value="0">hide</option>
			</field>								
			<field 
				name="imagesettings" 
				type="japaramhelper" 
				default="" 
				level="2"
				function="@title" 
				label="IMAGE_SETTINGS" 
				description="IMAGE_SETTINGS"/>	
			<field 
				name="group1" 
				type="japaramhelper" 
				function="@group">
					<option for="thumbnail_mode" value="crop" hideRow="true">use_ratio</option>
			</field>				
			<field 
				name="thumbnail_mode" 
				type="list" 
				default="crop" 
				label="THUMBNAIL_MODE" 
				description="THUMBNAIL_MODE_DESC">
					<option value="none">USING_IMAGE_SOURCE</option>
					<option value="resize">USING_RESIZE</option>
					<option value="crop">USING_CROP</option>
			</field>
			<field 
				name="use_ratio" 
				type="radio" 
				default="1" 
				label="RESIZE_WITH_THE_RATIO" 
				description="RESIZE_WITH_THE_RATIO_DESC">
					<option value="1">Yes</option>
					<option value="0">No</option>
			</field>
			<field 
				name="bigshowimage" 
				type="radio" 
				default="1" 
				label="SHOW_IMAGE_ON_FEATURED_ARTICLES" 
				description="SHOW_IMAGE_ON_FEATURED_ARTICLES_DESC">
					<option value="1">show</option>
					<option value="0">hide</option>
			</field>	
			<field 
				name="bigimg_w" 
				type="text" 
				default="100" 
				class="validate-numeric"
				label="FEATURED_ARTICLE_IMAGE_WIDTH" 
				description="FEATURED_ARTICLE_IMAGE_WIDTH_DESC" />
			<field 
				name="bigimg_h" 
				type="text" 
				default="100" 
				class="validate-numeric"
				label="FEATURED_ARTICLE_IMAGE_HEIGHT" 
				description="FEATURED_ARTICLE_IMAGE_HEIGHT_DESC" />
			
			<field 
				name="smallshowimage" 
				type="radio" 
				default="1" 
				label="SHOW_IMAGE_ON_NORMAL_FRONTPAGE_ARTICLE" 
				description="SHOW_IMAGE_ON_NORMAL_FRONTPAGE_ARTICLE_DESC">
					<option value="1">show</option>
					<option value="0">hide</option>
			</field>
			<field 
				name="smallimg_w" 
				type="text" 
				default="100" 
				class="validate-numeric"
				label="NORMAL_ARTICLE_IMAGE_WIDTH" 
				description="NORMAL_ARTICLE_IMAGE_WIDTH_DESC" />
			
			<field 
				name="smallimg_h" 
				type="text" 
				default="100" 
				class="validate-numeric"
				label="NORMAL_ARTICLE_IMAGE_HEIGHT" 
				description="NORMAL_ARTICLE_IMAGE_HEIGHT_DESC" />
			<field 
				name="align" 
				type="radio" 
				default="left" 
				label="IMAGE_ALIGN" 
				description="IMAGE_ALIGN_DESC">
					<option value="left">Left</option>
					<option value="right">Right</option>
					<option value="0">None</option>
			</field>
			
		</fieldset>
	</fields>
</form>